@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 10%;
  --card: 0 0% 98%;
  --card-foreground: 0 0% 10%;
  --popover: 0 0% 98%;
  --popover-foreground: 0 0% 10%;
  --primary: 165 100% 37%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 96%;
  --secondary-foreground: 0 0% 10%;
  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 45%;
  --accent: 165 100% 37%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 90%;
  --input: 0 0% 90%;
  --ring: 165 100% 37%;
  --labelText: 0, 0%, 16%;
}

.dark {
  --background: 0 0% 10%;
  --foreground: 0 0% 100%;
  --card: 0 0% 15%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 15%;
  --popover-foreground: 0 0% 100%;
  --primary: 165 100% 37%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 60%;
  --accent: 165 100% 37%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 20%;
  --input: 0 0% 20%;
  --ring: 165 100% 37%;
  --labelText: 216 12% 84%;
}

body, html {
  font-family: 'Red Hat Display', system-ui, sans-serif;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #222;
  box-shadow: 0 0 0px 1000px #f3f4f6 inset;
  transition: background-color 5000s ease-in-out 0s;
}
